<?xml version="1.0"?>
<!--
 ~ Copyright © Soft Commerce Ltd. All rights reserved.
 ~ See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="SoftCommerce_Avocado::configuration" title="SoftCommerce Avocado" sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="SoftCommerce_Avocado::core" title="SoftCommerce Avocado" translate="title" sortOrder="10">
                    <resource id="SoftCommerce_Avocado::order_list" title="Order List" translate="title" sortOrder="10"/>
                    <resource id="SoftCommerce_Avocado::shipment_list" title="Shipment List" translate="title" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
