<?xml version="1.0"?>
<!--
 ~ Copyright © Soft Commerce Ltd. All rights reserved.
 ~ See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- order ::: interface | repository | management -->
    <preference for="SoftCommerce\Avocado\Api\Data\OrderInterface" type="SoftCommerce\Avocado\Model\Order"/>
    <preference for="SoftCommerce\Avocado\Api\OrderRepositoryInterface" type="SoftCommerce\Avocado\Model\OrderRepository"/>
    <preference for="SoftCommerce\Avocado\Api\Data\OrderSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="SoftCommerce\Avocado\Api\OrderCollectManagementInterface" type="SoftCommerce\Avocado\Model\OrderCollectManagement"/>
    <preference for="SoftCommerce\Avocado\Api\OrderCreateManagementInterface" type="SoftCommerce\Avocado\Model\OrderCreateManagement"/>
    <preference for="SoftCommerce\Avocado\Model\Order\FileProcessorInterface" type="SoftCommerce\Avocado\Model\Order\FileProcessor"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="softcommerce_avocado_order_listing_data_source" xsi:type="string">SoftCommerce\Avocado\Ui\DataProvider\OrderListingSearchResult</item>
            </argument>
        </arguments>
    </type>
    <type name="SoftCommerce\Avocado\Ui\DataProvider\OrderListingSearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">softcommerce_avocado_order</argument>
            <argument name="resourceModel" xsi:type="string">SoftCommerce\Avocado\Model\ResourceModel\Order</argument>
            <argument name="identifierName" xsi:type="string">entity_id</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="SoftCommerce\Avocado\Api\Data\OrderInterface" xsi:type="string">SoftCommerce\Avocado\Api\OrderRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="SoftCommerce\Avocado\Api\Data\OrderInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">softcommerce_avocado_order</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- shipment ::: interface | repository | management -->
    <preference for="SoftCommerce\Avocado\Api\Data\ShipmentInterface" type="SoftCommerce\Avocado\Model\Shipment"/>
    <preference for="SoftCommerce\Avocado\Api\ShipmentRepositoryInterface" type="SoftCommerce\Avocado\Model\ShipmentRepository"/>
    <preference for="SoftCommerce\Avocado\Api\Data\ShipmentSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="SoftCommerce\Avocado\Api\ShipmentCollectManagementInterface" type="SoftCommerce\Avocado\Model\ShipmentCollectManagement"/>
    <preference for="SoftCommerce\Avocado\Api\ShipmentCreateManagementInterface" type="SoftCommerce\Avocado\Model\ShipmentCreateManagement"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="softcommerce_avocado_shipment_listing_data_source" xsi:type="string">SoftCommerce\Avocado\Ui\DataProvider\ShipmentListingSearchResult</item>
            </argument>
        </arguments>
    </type>
    <type name="SoftCommerce\Avocado\Ui\DataProvider\ShipmentListingSearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">softcommerce_avocado_shipment</argument>
            <argument name="resourceModel" xsi:type="string">SoftCommerce\Avocado\Model\ResourceModel\Shipment</argument>
            <argument name="identifierName" xsi:type="string">entity_id</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="SoftCommerce\Avocado\Api\Data\ShipmentInterface" xsi:type="string">SoftCommerce\Avocado\Api\ShipmentRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="SoftCommerce\Avocado\Api\Data\ShipmentInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">softcommerce_avocado_shipment</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Collect Avocado Order by means of import -->
    <preference for="SoftCommerce\Avocado\Model\Import\Order\ValidatorInterface" type="SoftCommerce\Avocado\Model\Import\Order\Validator"/>
    <type name="SoftCommerce\Avocado\Model\Import\Order\Validator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="order_entry" xsi:type="object">SoftCommerce\Avocado\Model\Import\Order\Validator\OrderEntry</item>
                <item name="billing_entry" xsi:type="object">SoftCommerce\Avocado\Model\Import\Order\Validator\BillingEntry</item>
                <item name="shipping_entry" xsi:type="object">SoftCommerce\Avocado\Model\Import\Order\Validator\ShippingEntry</item>
                <item name="item_entry" xsi:type="object">SoftCommerce\Avocado\Model\Import\Order\Validator\ItemEntry</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ImportExport\Model\Import\SampleFileProvider">
        <arguments>
            <argument name="samples" xsi:type="array">
                <item name="avocado_order" xsi:type="string">SoftCommerce_Avocado</item>
            </argument>
        </arguments>
    </type>
    <!-- CLI -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="collect_order" xsi:type="object">SoftCommerce\Avocado\Console\Command\CollectOrder</item>
                <item name="create_order" xsi:type="object">SoftCommerce\Avocado\Console\Command\CreateOrder</item>
                <item name="collect_shipment" xsi:type="object">SoftCommerce\Avocado\Console\Command\CollectShipment</item>
                <item name="create_shipment" xsi:type="object">SoftCommerce\Avocado\Console\Command\CreateShipment</item>
            </argument>
        </arguments>
    </type>
    <!-- Logger -->
    <virtualType name="SoftCommerceAvocadoVirtualLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">SoftCommerce\Avocado\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="SoftCommerce\Avocado\Logger\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">SoftCommerceAvocadoVirtualLogger</argument>
        </arguments>
    </type>
    <!-- plugins -->
    <type name="SoftCommerce\Shipping\Model\Carrier\RateProvider">
        <plugin name="avocado_shipping_rate_plugin" type="SoftCommerce\Avocado\Plugin\Shipping\CarrierRateProvider"/>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="avocado_order_id_provider_plugin" type="SoftCommerce\Avocado\Plugin\Sales\Order\GetAvocadoOrderIdForOrderPlugin"/>
    </type>
    <!-- custom metadata to sales order grid -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <plugin name="sales_order_grid_avocado_order_id_provider" type="SoftCommerce\Avocado\Plugin\Sales\Order\SalesOrderGridAvocadoOrderIdProviderPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\ImportExport\Block\Adminhtml\Import\Frame\Result">
        <plugin name="avocado_order_import_result_back_link_provider" type="SoftCommerce\Avocado\Plugin\ImportExport\AdminHtmlBlock\ImportFrameResultPlugin"/>
    </type>
</config>
